{% extends 'layout.html' %}

{% block header %}
<link rel="stylesheet" href="../static/index2.css">
<title>Woo Ju Lim</title>
{% endblock %}

{% block body %}
<div id="main">
    <p class="large-text"><span>LET</span> <span>ME</span> <span>INTRODUCE</span> <span>MYSELF!</span></p>
    <CENTER id="mid">
        <span>I'M</span> <span>A</span> <span>STUDENT</span> <span>WEB</span> <span>STUDYING</span> <span>PROGRAMING!</span> 
        <br>
        <span>AT</span> <span>DIMIGO</span> <span>KOREA</span>
    </CENTER>
    <div id="bt">
        <button class="button-53"><a href="/about/details">LEARN MORE</a></button>
    </div>
    <div id="radio">
        <input type="radio" name="slide" id="slide01">
        <input type="radio" name="slide" id="slide02" checked>
        <input type="radio" name="slide" id="slide03">
        <input type="radio" name="slide" id="slide04">
        <input type="radio" name="slide" id="slide05">
    </div>
</div>
{% endblock %}