{% extends 'layout.html' %}

{% block header %}
<title>Woo Ju Lim : About</title>
<script src="https://kit.fontawesome.com/515802d402.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../../static/about_core.css">
{% endblock %}

{% block body %}
<div id=container>
        <img src="../../static/img/brainstorming.png" alt="">
        <div id="textBox">
            <h1>CORE INFO</h1>
            <p>I am passionate about interactive media, and in an age of digital I believe bringing design to life with
                code is essential. So, I specialise in a multi-disciplined approach to my work incorporating design and
                development.</p>
            <div id="atags">
                <a href="https://www.instagram.com/"><i class="fab fa-instagram-square"></i></a>
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.facebook.com/"><i class="fab fa-twitter-square"></i></a>
            </div>

        </div>
    </div>
{% endblock %}