{% extends 'layout.html' %}

{% block header %}
<link rel="stylesheet" href="../../static/about_details.css">
<script src="https://kit.fontawesome.com/515802d402.js" crossorigin="anonymous"></script>
<title>Woo Ju Lim : About</title>
{% endblock %}

{% block body %}
<div id="introduce">
    <div>
        <h1 class="main-text">ABOUT ME</h1>
        <div class="mid-font">I am an allround web developer. <br> I am a senior programmer with good <br> knowledge of front-end
            techniques. <br> I love structure and order and <br> I also stand for quality. <br> I love spending time
            on fixing <br> little details and optimizing web apps. <br> Also I like working in a team, <br> you'll
            learn faster and much more. <br> As the saying goes: <br> 'two heads are better than one'.</div>
    </div>
    <div><img src="../../static/img/wooju.png" alt="main img"></div>
    <div id="text">
        <h1 class="main-text">DETAILS</h1>
        <p class="mid-font"><b class="highlite">NAME :</b><br> Lim Woo Ju<br><br><b class="highlite">AGE :</b><br>17 years<br><br><b class="highlite">EMAIL :</b> <br>wooju1241@gmail.com</p>
        <a href="https://www.instagram.com/"><i class="fab fa-instagram-square"></i></a>
        <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
        <a href="https://www.facebook.com/"><i class="fab fa-twitter-square"></i></a>
    </div>
</div>
{% endblock %}
