<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Road+Rage&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/basic.css">
    {% block header %}
    {% endblock %}
</head>
<body>
    <header>
        <div id="logo">
            <img src="../../static/img/wooju.png" alt="">
            <p>I'M<br>UNIVERSE</p>
        </div>
        <div id="nav">
            <ul>
                <li><a href="/"> HOME</a></li>/
                <li><a href="/about"> ABOUT</a></li>/
                <li><a href="/skills"> SKILLS</a></li>/
                <li><a href="/wp"> WORK&PLAY</a></li>/
                <li><a href="/contact"> CONTACT</a></li>
            </ul>
        </div>
    </header>
    {% block body %}
    {% endblock %}
</body>
</html>