html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
body {
  height: 100vh;
  display: flex;
  margin: 0;
  flex-direction: column;
  color: white;
  font-family: "Road Rage", cursive;
  font-size: 25px;
}
.mid-text {
  font-size: 50px;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
}
#nav {
  margin-right: 10px;
}
#nav > ul {
  display: flex;
  list-style: none;
  gap: 5px;
}
#nav a {
  text-decoration: none;
  color: white;
}

#logo {
  display: flex;
}
#logo > img {
  margin-top: 10px;
  margin-right: 4px;
  width: 50px;
  height: 50px;
}
#logo > p {
  margin-top: 10px;
}
#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 10px;
}